.File {
  margin-right: 5rem;
  border-radius: 100px;
  //background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 18px;
  }

  &__title {
    width: 5rem;
    text-align-last: center;
    height: 5rem;
    font-size: .75rem;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    word-break: keep-all;
    text-align: -webkit-center;
    overflow: hidden;
    line-height: 1.3rem;
    text-overflow: ellipsis;
    -webkit-box-pack: center;
  }
}