.FavoriteCard {
  box-shadow: 0 0 0.2px black;
  border-radius: 20px;
  background-color: rgba(100,100,100,0.25);
  height: 100%;
  flex-direction: row;
  display: flex;

  & > * {
    align-self: center;
    text-align: -webkit-center;
    & > a {
      margin : 0.5rem;
      width: 3rem;
      height: 3rem;
      & > img {
        width: 3rem;
        height: 3rem;
        border-radius: 10px;
      }
    }
    & > div {
      height: 1rem;
      -webkit-box-pack: center;
    }
  }
}