.Card {
  border-radius: 10px;
  width: 20rem;

  &__header {
    color: var(--preference--color);
    background-color: var(--preference--background-sidebar);
    border-radius: 10px 10px 0 0;
    padding: .5rem 1rem .5rem 1rem;
  }

  &__body {
    color: var(--preference--color);
    border-radius: 0 0 10px 10px;
    padding: .5rem 1rem .5rem 1rem;
    background-color: rgba(100, 100, 100, 0.25);
  }
}