.Card {
  border-radius: 10px;
  &__header {
    color: var(--preference--color);
    background-color: var(--preference--background-sidebar);
    border-radius: 10px 10px 0 0;
    padding: .5rem 1rem .5rem 1rem;
  }

  &__body {
    color: var(--preference--color);
    border-radius: 0 0 10px 10px;
    padding: .5rem 1rem .5rem 1rem;

    //box-shadow: 0 0 2px rgba(200,200,200,1), 0 0 4px black, 0 0 30px rgba(0,0,0,.5);
    background-color: rgba(100,100,100,0.25);
  }
}