.App {
  color: #282a36;
  color: #1D1F27;

  color: #ff5c57;
  color: #5AF78E;
  color:#F3F99D;
  color: #57c7ff;
  color :#FF69C1;
  color:#9AEEFE;
  color:#F1F1F0;
  color:#272B36;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282a36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
