.TransparencyInput {
    background-color: transparent;
    border: none;
    &:focus {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: white;
    }
}