.Directory {
  width: 5rem;
  height: 5rem;
  margin-right: 5rem;
  border-radius: 18px;
  background-color: #a0a0a0;
  padding: .5rem 0 0 .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  &__title {
    width: 5rem;
    text-align-last: center;
    height: 5rem;
  }

  &__src {
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 5px;
    margin: 0 .2rem .2rem 0;
    background-color: white;
  }
}